body.light {
  background: #e8e8e8;
}

body.light .welcome-card {
  background: #e0e0e0;
}

body.light .welcome-content {
  background: #e0e0e0;
  box-shadow: 5px 5px 48px #bebebe, -5px -5px 48px #ffffff;
}

body.light .welcome-content p {
  color: #2e2e2e;
}

body.light .welcome-content ian {
  color: #2e2e2e;
}

body.light .second-container {
  background: #eceaea;
  color: var(--black);
}

body.light .fourth-container {
  background: #eceaea;
  color: var(--black);
}

body.light .introbox{
  color: var(--black);
  background: #e0e0e0;
}

body.light .metro {
  background: linear-gradient(145deg, #e0e0e0, #f8f8f8);
  box-shadow: 10px 10px 20px #c5c5c5, -10px -10px 20px #ffffff;
}
body.light .metro ul {
  border-left: 4px solid #0c7ef0;
}

body.light .metro h3 {
  color: #0a65c0;
  font-weight: bold;
  background: #e0e0e0;
}

body.light footer {
  background: var(--whitemode);
  color: var(--black);
}

body.light footer p {
  background: #e0e0e0;
  color: var(--black);
}

body.light #portfolio h2 {
  background: var(--whitemode);
  color: var(--black);
}

body.light #portfolio p {
  color: var(--black);
}

body.light #header {
  background: transparent;
}

body.light .menu ul {
  background-color: #e0e0e0;
}

body.light .menu ul li a {
  color: #131313;
}

body.light .menu ul li :hover {
  color: #0c7ef0;
  border-bottom: 0.3rem solid #0c7ef0;
}

body.light .logo a {
  color: var(--black);
}

body.light .ham span {
  background: var(--black);
}

body.light .metro2 h4{
  background: #eceaea;
  color: black;

}

body.light .ian-img {
  background: url("../images/iw.webp");
  background-position: center;
  background-size: contain;
}

body.light .description p {
  background-color: var(--white);
  color: black;
  font-weight: b;
}

body.light .description span {
  background-color: #bebebe;
  color: #1b1b1b;
}

body.light .buttons-project {
  background-color: #dfdfdf;
}

body.light .filter{
  background-color: #e0e0e0;
  color: var(--black);
}

body.light .filter button{
  background-color: #eceaea;
  color: var(--black);
}

body.light .filter button:hover{
  border-bottom: 2px solid #0c7ef0;
}



