

/*MENU RESPONSIVE*/
@media (max-width: 900px){

    body{
        /*overflow: hidden;*/
    }

    .ham{
        display: block;
        position: absolute;
        top: 0.5rem;
        right: 5rem;
        transition: 0.5s 0.1s;
    }

    .ham:hover{
        transform: rotate(360deg);
    }

    #header{
        display: flex;
        flex-direction:column-reverse;
        align-items: flex-start;
        height: fit-content;
    }

    .menu ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        width: 100%;
        height: 40vh;
        margin-bottom: 3rem;
        opacity: 0;
        z-index: 100;
        margin-right: 0;
        background-color: transparent;
        display: none;
    }

    .menu ul li{
        width: 90%;
        text-align: left;
        padding: 2rem;
        background-color: transparent;
    }

    .menu ul li :hover{
        color:var(--white);
        font-weight: bold;
        box-shadow: none;
        background-color: transparent;
    }


    .menu ul li a{
        font-size: 2.5rem;
        padding-right: 50%;
    }

    .menu{
        width: 100%;
    }

    .menu ul.activado{
        display: flex;
        animation: menu 1s ease-in-out both;
    }

    .logo{
        line-height: 5rem;
        padding-left: 3rem;
        padding-bottom: 1rem;

    }

    
    /* MENU ANIMATIONS*/
    @keyframes menu{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    /*RESPONSIVE DESIGN*/
    html, body
    {
    height: 80vh;
    }
    body{
        background-size: 100%;
    }

    html, .second-container
    {
        height: 100vh;
    }
    .welcome-card{
        flex-basis: 100%;
    }

    .welcome-content{
        font-weight: normal;
    }

    .welcome-box{
        flex-basis: 100%;
        margin-top: 35%;
    }

    /*ABOUT ME*/
    html, .second-container
    {
    height: 100vh;
    }

    .contenido{
        flex-basis: 100%;
        width: 100%;
        margin-top: 0;

    }

    h3{
        width: 80%;
        margin: 0;
        padding: 3rem;
    }

    #desc{
        width: 93%;
        margin-left: 0%;
        padding-left: 7%;
        font-size: 1.9rem;
    }

    #desc2{
        width: 95%;
        margin-left: 0%;
        padding-left: 5%;
    }

    .profile img{
         display: none;
        }
    
    .profile2{
        display: flex;
    }

 .profile2 img{
        margin:0 auto;
		display:block;
        width: 90%;
        height: auto;
        border: 1rem solid var(--blue);
        animation: movimiento;
        animation-timing-function: linear;
        animation-duration: 3s;
        animation-iteration-count: infinite;
         }

.grid .box{
    flex-basis: 49%;
    border: 1px solid var(--white);
}

.grid .box:hover{
    color: var(--white);
}

.grid .project-box{
    flex-basis: 90%;
    margin: 0;
    border-bottom: 1rem solid var(--white);
}

}