.welcome-content.is-visible{
    opacity: 1;
    transform: translateY(0);

}
.metro.is-visible{
    opacity: 1;
    transform: translateY(0);
}

.metro2.is-visible{
    opacity: 1;
    transform: translateY(0);
}

