@font-face {
  font-family: "flaticon";
  src: url("./flaticon.ttf?6ae22314f0bdff9bf547995d992a983c") format("truetype"),
url("./flaticon.woff?6ae22314f0bdff9bf547995d992a983c") format("woff"),
url("./flaticon.woff2?6ae22314f0bdff9bf547995d992a983c") format("woff2"),
url("./flaticon.eot?6ae22314f0bdff9bf547995d992a983c#iefix") format("embedded-opentype"),
url("./flaticon.svg?6ae22314f0bdff9bf547995d992a983c#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buttons{
  display: flex;
  margin-top: 30px;
}
.button{
  width: 100%;
  flex-flow: wrap;
  flex-wrap: wrap;
  height: 40px;
  font-size: 35px;
  background-color: transparent;
  border: none;
  color: var(--white);
  transition: all 300ms;
}

button:hover{
  transform: scale(1.4,1.4);
}

body.light .button{
  color: #464646;
}

body.light .button:hover{
  color: var(--blue);
}

.button2{
  font-size: 45px;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  color: var(--white);
  transition: all 300ms;
}

body.light .button2{
  color: var(--black);
}

.button2 button:hover{
  transform: scale(1.2,1.2);
  cursor: pointer;
}

#b-cv{
  color: var(--white);
  font-size: 5rem;
  background: #131313;
  width: 9rem;
  height:9rem;
  border-radius: 10%;
  border: solid 3px #464646;
  line-height: 0rem;
}

body.light #b-cv{
  color: #585858;
  border: solid 3px #8d8d8d;
  background: var(--white);
}

body.light #b-cv:hover{
  color: #0c7ef0;
  border: solid 3px #0c7ef0;
  transform: scale(1.1,1.1);
  cursor: pointer;
}

#b-cv:hover{
  color: var(--blue);
  border: solid 3px var(--blue);
  transform: scale(1.1,1.1);
  cursor: pointer;

}
.flaticon-cv-y-cv:before {
  content: "\f101";
}
.flaticon-facebook:before {
  content: "\f102";
}
.flaticon-github:before {
  content: "\f103";
}
.flaticon-instagram:before {
  content: "\f104";
}
.flaticon-linkedin:before {
  content: "\f105";
}
.flaticon-live:before {
  content: "\f106";
}
.flaticon-whatsapp:before {
  content: "\f107";
}
