$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?6ae22314f0bdff9bf547995d992a983c") format("truetype"),
url("./flaticon.woff?6ae22314f0bdff9bf547995d992a983c") format("woff"),
url("./flaticon.woff2?6ae22314f0bdff9bf547995d992a983c") format("woff2"),
url("./flaticon.eot?6ae22314f0bdff9bf547995d992a983c#iefix") format("embedded-opentype"),
url("./flaticon.svg?6ae22314f0bdff9bf547995d992a983c#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "cv-y-cv": "\f101",
    "facebook": "\f102",
    "github": "\f103",
    "instagram": "\f104",
    "linkedin": "\f105",
    "live": "\f106",
    "whatsapp": "\f107",
);

.flaticon-cv-y-cv:before {
    content: map-get($flaticon-map, "cv-y-cv");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-github:before {
    content: map-get($flaticon-map, "github");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-live:before {
    content: map-get($flaticon-map, "live");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon-map, "whatsapp");
}
